{%  extends 'studapp/base.html' %}

{% block content %}

<div class="ListTitleDiv">
    <h3 class="ListTitle">STUDENT LIST</h3>
</div>


<div>

    {% for s in students %} 
         
            <div class="container">
                <div class="c1">
                    <a href="studentdetail/{{ s.id }}" class="studList"> {{ s.fname }} {{ s.lname }}</a>
                </div>
                <div class="c2">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'studapp:deletestudent' s.id %}" type="submit" class="x"><b>X</b></a>
                    </form>
                
                </div>
            </div> 
        
{% endfor %}


</div>

{% endblock %}