{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">

     <h4>Add New</h4>
     <hr>
     <form action="" method="POST">
         {% csrf_token %}
         <div class="form-group">
             <label for="">ID</label>
             <input type="text" name="sid" class="form-control">
         </div>
         <div class="form-group">
            <label for="">NAME</label>
            <input type="text" name="sname" class="form-control">
        </div>
        <div class="form-group">
            <label for="">CONTACT</label>
            <input type="text" name="scontact" class="form-control">
        </div>
        <div class="form-group">
           <button class="btn btn-primary" type="submit">Add Record</button>
           <a href=" {% url 'show' %}" class="btn btn-info">show deatils</a>
        </div>
     </form>
</div>


{% endblock %}