{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">

     <h4>Update Records</h4>
     <hr>
     <form action="/update/{{student.id}}" method="POST">
         {% csrf_token %}
         <div class="form-group">
             <label for="">ID</label>
             <input type="text" name="sid" value="{{student.sid}}" class="form-control">
         </div>
         <div class="form-group">
            <label for="">NAME</label>
            <input type="text" name="sname" value="{{student.sname}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="">CONTACT</label>
            <input type="text" name="scontact" value="{{student.scontact}}" class="form-control">
        </div>
        <div class="form-group">
           <button class="btn btn-primary" type="submit">UpdateRecord</button>
           <a href=" {% url 'show' %}" class="btn btn-info">show deatils</a>
        </div>
     </form>
</div>


{% endblock %}